.container{
    width:80%;
    background-color:#2F4F4F;
    background-size:cover;
    margin-left:140px;
    height:500px;
    margin-top:50px;
}
.one{
    width:50%;
    color:white;
}
.cont{
    width:50%;
    color:white;
    border:10px 10px solid black;
    padding-left:100px

    }