.container{
    width:80%;
    background-color:#2F4F4F;
    background-size:cover;
    margin-left:140px;
    height:800px;
    margin-top:50px;
}

.cont{
    width:50%;
    color:white;
    border:10px 10px solid black;
    margin-left:200px

    }
    .one{
        width:50%;
        color:white;
        margin-left:180px;
        padding-top:30px;
        font-size:20px;
    }
    .two{
        font-size:50px;
    }
    input{
        width:300px;
       
    }